tags
.classpath
bin
.project
.settings
*.class
*.jar
.metadata
*.properties
/binTest/
src/main/java/com/sige/db/db.properties
nbproject
nbbuild
.idea
build.xml
manifest.mf
build
*.iml
/dist/
.gradle
.github
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/feature_request.md
